* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  box-sizing: border-box;
}

.background {
  background: linear-gradient(270deg, #ff33ff, #11aa99);
  width: 100%;
  height: 100vh;
}

h1, h2 {
  text-align: center;
  padding-top: 20px;
}
p {
  background-color: white;
  font-size: 18px;
  margin-left: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
  width:30%;
  border-bottom: 1px solid grey;
}

.game-board {
  background-color: white;
  width: 100%;
  max-width: 650px;
  height: 60vh;
  border: 1px solid black;
  margin: 30px auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;

}
.card {
  width: 30%;
  box-sizing: border-box;
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px;
  background: gray;
  cursor: pointer;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  position: relative;
  perspective: 1000px;
}
.card p {
  margin: auto;
  margin-top: 80px;
  text-align: center;
  align-items: center;
  transform: rotate(320deg);
  font-size: 40px;
}
.card:hover {
  color: white;
  background: black;
  transition: all 0.2s;
}
.dog {
   background-image:  url(images/Dog-icon.png);
}
.cat {
  background-image:  url(images/cat.png);
}
.shark {
  background-image:  url(images/shark.png);
}
.flip {
  transform-style: preserve-3d; /* Maintain 3D space */
  transition: transform 0.5s ease; /* Transition for smooth flip effect */
  transform: rotateY(180deg); /* Rotate around Y-axis for flip effect */
}